# Ignora a pasta venv/
venv/

# Ignora os arquivos drivers.csv, scripts.csv e instaladores.csv
drivers.csv
scripts.csv
instaladores.csv

# Ignora a pasta Ativador Magico/
Ativador Magico/
3DP.exe
main
teste


product_formatado.csv
produto.csv
teste_login.py
teste_login.ui
teste_ncm.py
ui_main_copy.py
cep.py
cep.json
product_formatado.csv
produto.csv
.gitignore
.gitattributes
exemplo_testes.py
backup.csv
produtos02.csv
SmartPdv.db
teste.csv
testes